/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.container{
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
    padding-left: 15px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}



/* Header */

#banner{
    height: 80px;
    background-color: white;
    }
    
#logo{
    vertical-align: middle;
    margin-top: 20px;
}

#h1{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    font-weight: 900;
    margin-top: 20px;
}

/* Main */

.click{
    padding: 10px;
    border-bottom: 3px solid lightgray;
    
}

.button{
    padding: 8px;
    border-radius: 10px;
}

.task{
    color: white;
    background-color: rgb(69, 153, 221);
    border-color: rgb(69, 153, 221);
}

.section{
    color: rgba(77, 74, 74, 0.68);
    background-color: white;
    border-color: rgba(77, 74, 74, 0.68);
}

.triangolo{
    font-size: 20px;
}

.new{
    padding-top: 30px;
}

.etichette{
    font-size: 11px;
    border: 1px solid;
    border-radius: 10px;
    padding: 6px;
    color: white;
}

.elenco{
    margin-top: 20px;
}

.editorial{
    background-color: rgb(36, 119, 214);
}

.goals{
    background-color: violet;
}

.recruiting{
    background-color: green;
}

.mobile{
    background-color: orangered;
}

.websites{
    background-color: palevioletred;
}

.sales{
    background-color: goldenrod;
}

ul{
    list-style-type: none;
}

.circle::before{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}

.circle.checked::before {
    content: '\2713';
    border: 1px solid #2cc6ab;
    color: #2cc6ab;
}

.circle.delete::before {
    content: '\2573';
    border: 1px solid #ff0000;
    color: #ff0000;
}